[Unit]
Description=Container hypervisor based on LXC
After=cgmanager.service lxc.service lxd-unix.socket
Requires=cgmanager.service lxc.service lxd-unix.socket

[Service]
ExecStart=/usr/bin/lxd --group lxd --logfile=/var/log/lxd/lxd.log
ExecStartPost=/usr/bin/lxd waitready
KillMode=process
TimeoutStopSec=40
KillSignal=SIGPWR
Restart=on-failure
LimitNOFILE=-1
LimitNPROC=-1

[Install]
Also=lxd-startup.service lxd-unix.socket
