[Unit]
Description=Container hypervisor based on LXC
After=cgmanager.service lxc.service
Requires=cgmanager.service lxc.service lxd-unix.socket

[Service]
ExecStart=/usr/bin/lxd --group lxd --logfile=/var/log/lxd/lxd.log
KillMode=process
TimeoutStopSec=40
KillSignal=SIGPWR
Restart=on-failure
LimitNOFILE=65536

[Install]
Also=lxd-unix.socket
